.game h1 {
    font-size: 2.5em;
}

.points span {
    font-weight: bold;
}

.tip span {
    color: #eCfa00;
}

.wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid #ecfa00;
    /* Organiza  os elementos filhos utilizando o Flexbox.
    Por padrão, os elementos ficam posicionados lado a lado. */
    display: flex;
}

.letter,
.blankSquare {
    font-size: 70px;
    /* Define a altura da linha do texto.
    O valor 1.5 significa 1,5 vezes o tamanho da fonte. */
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #FFF;
    color: #000;
    font-weight: bold;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}